#border{
    border-radius: 5px;
    background-color: #FAFAFA;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 1000px;
    box-shadow: 0px 0px 5px;
  }
  .result {
    background-color: ghostwhite;
    border-radius: 2px;
    padding: 2%;
  }
  .simple_button {
    background-color: ghostwhite;
    border-width: 1px;
    border-color: gray;
    padding: 3px;
    margin: 3px;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
  }
  .param_input {
    margin: 3px;
  }
  .main {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 30px;
  }
  .background {
    background-color: #FFFFFF;
  }